@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

/* 홈페이지 메인 */
.content_area {
	width: 100%;
	height: 1000px;
	text-align: center;
	overflow: hidden;
}
.table_wrap{
	float: right;
	width: 90%;
	
}
/* 검색창 */
.search_wrap{
	margin-top: 100px;
	float: center;
}
/* table 표 */
table th{
	border: 1px solid gray;
	width: 400px;
}
.bno_width{
	width: 10%;
}
.title_width{
	width: 50%;
}
.writer_width .regdate_width{
	width: 20%;
}

table{
	margin-top: 30px;
	margin-left: 15px;
}

/* 버튼 */
.top_btn{
	float: right;
	color: black;
	border: 1px solid gray;
}