@charset "UTF-8";

*{
	margin:0;
	padding:0;
}

/*관리자 페이지 컨텐츠 영역*/
.admin_content_wrap {
	margin: 0 100px;
	width: 50%;
	height: 80%;
	border: 1px solid gray;
	margin-top: 30px;
}
table{
	margin: 50px 30px;
	width: 60%;
	
}
table th{
	
	border-bottom: 1px solid gray;
	width: 200px;
	padding: 10px;
}
table td{
	padding-left: 40px;
}
#list_btn{
	width: 200px;
	height: 50px;
	float: right;
	font-size: 20px;
	margin-right: 100px;
}
